/***************** Search Field *****************/
#wd-search-icon {
    margin-left: 10px;
    position: relative;
    left: 10px;
    z-index: 10;
    padding-top: 3px;
}

#wd-search-input {
    position: absolute;
    left: 30px;
    width: 80%;
    border: none;
    color: white; 
    border-radius: 30px;
    background-color: rgb(33,35,39);
    height: 30px;
    padding-inline-start: 52px;
    padding-inline-end: 44px;
    display: block;
}

#wd-settings-icon {
    float: right;
    padding: 3px;
    align-items: center;
    /* create space between the border and the icon */
    margin-right: 12px; 
}

/****************** Guide Field ******************/
.wd-guide-format {
    float: left;
    padding: 16px;
}


button:focus {
    margin: auto;
    color: rgb(29,161,242);
    background-color: black;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 1px;
    padding-bottom: 15px;
    border-bottom-color: rgb(29,161,242);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -16px;
}

/* Guide Decoration */
/* a {
    color: rgb(110, 118, 125);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

a:hover, a:active, a:focus {
    color: rgb(29,161,242);
    text-decoration: underline;
    text-underline-offset: 20px;
} */

/****************** Separator ******************/
.wd-separator {
    height: 10px;
    width: 100%;
    border-top: 2px;
    border-bottom: 1px;
    background-color: rgb(30, 36, 38);
    border-style: solid;
    border-left-color: rgb(33, 36, 38);
    border-right-color: rgb(33, 36, 38);
    border-top-color: rgb(110, 118, 125);
    border-bottom-color: rgb(110, 118, 125);
    z-index: 1;
}

/***************** Grid *****************/
.wd-grid-column-main {
    width: 70%;
    float: left;
}

.wd-grid-column-image {
    width: 100px;
    float: right;
}

/***************** image and icons *****************/
.wd-rounded-imgs {
    /* position: relative; */
    height: 100px;
    width: 100px;
    border-radius: 20px;
    /* margin-right: 16px; */
    object-fit: cover;
}

.wd-rounded-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* align-items: center; */
    /* align images to the text */
    vertical-align: middle;
}

