.wd-tabs li {
    display: inline;
 }
 
.wd-tabs {
    padding-left: 0px;
}
 
.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}
 
.wd-nudge-up {
    bottom: 18px;
    left: 25px;
 }
 
.wd-bottom-2 {
    bottom: 2px;
 }
 
.wd-bottom-4 {
    bottom: 4px;
}
 
.post-image {  
    margin-top: 10px;
    margin-bottom: 10px;
    width:70px;
    height: 70px;
}

.sidebar-image {
    width:45px;
    height: 45px;
  }

.active {
   color: green;
   background-color: yellow;
 }

.avatar-image {
   width:50px;
   height: 50px;
}
.retweets-avatar-image{
   width:30px;
   height:30px
}
.retweets-text{
   font-size: 14px;
}

 /* text with image as background */
 /* parent div is position-relative */
 /* style for the text */
.content {
   position: absolute;
   left: 1%;
   bottom: 5px;
   text-align: center;
 }
 
.tweets-title{
   font-size: 17px;
}


.tweets-light-blue{
   color: #35a6f1 ;
}

.icon-20px {
   height: 20px;
   width: 20px;
}

.icon-150px {
   height: 160px;
   width: 160px;
}

.bg-profile {
   width:100%;
   height:300px;
}

.avatar-location {
   bottom: -30px; 
   left: 100px;
}






